<div class="col-md-4 grid-margin stretch-card">
  <div class="card">
    <div class="card-body text-center">
      <img src="#" width="270" alt="logo" />
      <h4 class="card-title text-center">{{nameClientCompany}}</h4>
      <button type="button" class="btn btn-primary btn-lg btn-block">
        <i class="mdi mdi-view-dashboard"></i>                      
        Dashbord Page
      </button>
      
    </div>
  </div>
  
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  <div class="card">
    <div class="card-body">
      <h4 class="card-title text-center"> Tutoriels</h4><br>
      <button type="button" class="btn btn-wrapper btn-lg btn-block">
        <i class="mdi mdi mdi-file-video"></i>                      
        Qu'est ce que la Solution Budgetizi !!
      </button>
      <button type="button" class="btn btn-wrapper btn-lg btn-block">
        <i class="mdi mdi mdi-file-video"></i>                      
        Les bases de  Budgetizi
      </button>
      <button type="button" class="btn btn-wrapper btn-lg btn-block">
        <i class="mdi mdi mdi-file-video"></i>                      
        Ajout ressources + offre
      </button>
      <button type="button" class="btn btn-wrapper btn-lg btn-block">
        <i class="mdi mdi mdi-file-video"></i>                      
        Créer une estimation du cout 
      </button>
    </div>
  </div>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  <div class="card">
    <div class="card-body">
      <video width="320" height="240" controls>
        <source src="../../../assets/img/videoJustGroupe.mp4" type="video/mp4">
      </video>
    </div>
  </div>
</div>