<body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0">

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">

            <a href="index.html">
                <img src="../../../assets/img/logoo.png" height="100">
            </a>

            
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="HomePage/#introPage">Accueil</a></li>
                    <!-- <li><a class="nav-link scrollto" href="HomePage/#about">A propos</a></li> -->
                    <li><a class="nav-link scrollto" href="HomePage/#services">Services</a></li>
                    <!-- <li><a class="nav-link scrollto" href="HomePage/#team">Equipe</a></li>
                    <li><a class="nav-link scrollto" href="HomePage/#pricing">Prix</a></li> -->
                    <li><a class="nav-link scrollto" href="HomePage/#contact">Contact</a></li>
                    <li><a class="getstarted scrollto" href="" [routerLink]="['/PageSignIn']">Mon Compte</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="intro" class="d-flex align-items-center">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                    <h1 data-aos="fade-up" class="aos-init aos-animate">Développer vos affaires avec Budgetizi</h1><br>
                    
                    <h2 data-aos="fade-up" data-aos-delay="400" class="aos-init aos-animate text-center">
                        Le modèle d'estimation des coûts le plus fiable  Une estimation soigneusement établie</h2>
                    
                        <!-- <div data-aos="fade-up" data-aos-delay="800" class="aos-init aos-animate">
                            <a href="" [routerLink]="['/PageSignIn']" class="btn-get-started scrollto">Mon Compte</a>
                        </div> -->
                </div>
                <div class="col-lg-6 order-1 order-lg-2 intro-img aos-init aos-animate" data-aos="fade-left"
                    data-aos-delay="200">
                    <img src="assets/img/hero-img.png" class="img-fluid animated" alt="">
                </div>
            </div>
        </div>

    </section><!-- End Hero -->

    <main id="main">

        <!-- ======= Clients Section ======= -->
        <section id="clients" class="clients clients">
            <div class="container">

                <div class="row">

                    <div class="col-lg-2 col-md-4 col-6">
                        <img src="assets/img/clients/Educanet.jpg" class="img-fluid aos-init aos-animate" alt=""
                            data-aos="zoom-in">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6">
                        <img src="assets/img/clients/Broyat.jpg" class="img-fluid aos-init aos-animate" alt=""
                            data-aos="zoom-in" data-aos-delay="100">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6">
                        <img src="assets/img/clients/Serma.png" class="img-fluid aos-init aos-animate" alt=""
                            data-aos="zoom-in" data-aos-delay="200">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6">
                        <img src="assets/img/clients/ItsPlombier.png" class="img-fluid aos-init aos-animate" alt=""
                            data-aos="zoom-in" data-aos-delay="300">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6">
                        <img src="assets/img/clients/Karhabti.png" class="img-fluid aos-init aos-animate" alt=""
                            data-aos="zoom-in" data-aos-delay="400">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6">
                        <img src="assets/img/clients/m3i.png" class="img-fluid aos-init aos-animate" alt=""
                            data-aos="zoom-in" data-aos-delay="500">
                    </div>

                </div>

            </div>
        </section><!-- End Clients Section -->

        <!-- ======= About Us Section ======= -->
        <!-- <section id="about" class="about">
            <div class="container">

                <div class="section-title aos-init aos-animate" data-aos="fade-up">
                    <h2>A Propos de Nous</h2>
                </div>

                <div class="row content">
                    <div class="col-lg-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="150">
                        <p>
                            Notre solution vous permet d'établir l'estimation du Coût d'un projet
                        </p>
                        <ul>
                            <li><i class="ri-check-double-line"></i>Assistance du MO-Passage des contrats</li>
                            <li><i class="ri-check-double-line"></i> Approbation des dossiers d'exécution</li>
                            <li><i class="ri-check-double-line"></i> Suivi des Travaux</li>
                        </ul>
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0 aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                        <p>
                            Détails
                        </p>
                        <a href="#" class="btn-learn-more">#</a>
                    </div>
                </div>
            </div>
        </section>End About Us Section -->
        <!-- ======= Counts Section ======= -->

        <!-- ======= Services Section ======= -->
        <section id="services" class="services">
            <div class="container">

                <div class="section-title aos-init aos-animate" data-aos="fade-up">
                    <h2>Services</h2>
                    <p>Définir les composantes du coût du projet </p>
                </div>

                <div class="row">
                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                        <div class="icon-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                            <div class="icon"><i class="bx bxl-dribbble"></i></div>
                            <h4 class="title"><a href="">Coût de Main-d'oeuvre</a></h4>
                            <p class="description">Détermination des effectifs de main-d’œuvre réels nécessaires à l’exécution des travaux et encadrement</p>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                        <div class="icon-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                            <div class="icon"><i class="bx bx-file"></i></div>
                            <h4 class="title"><a href="">Coût des Matérieaux & Matières consommables</a></h4>
                            <p class="description">Détermination des besoins en matériels nécessaires à l’exécution des travaux</p>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                        <div class="icon-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                            <div class="icon"><i class="bx bx-tachometer"></i></div>
                            <h4 class="title"><a href="">Prévisions des coûts d'ouvrages</a></h4>
                            <p class="description">Détermination des temps prévisionnels totaux et délais d’exécution</p>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                        <div class="icon-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">
                            <div class="icon"><i class="bx bx-world"></i></div>
                            <h4 class="title"><a href="">Etude de prix & Négociation</a></h4>
                            <p class="description">Détermination de l’estimation du coût d’un projet</p>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Services Section -->

        <!-- ======= Team Section ======= -->
        <!-- <section id="team" class="team section-bg">
            <div class="container">
                <div class="section-title">
                    <h2>Team</h2>
                    <p>Sit sint consectetur velit nemo qui impedit suscipit alias ea</p>
                </div>
            </div>

            <div class="container">
                <div class="section-title" data-aos="fade-up">
                    <h2>Team</h2>
                    <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem</p>
                </div>
                
                <div class="row">
                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                        <div class="member aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                            <div class="member-img">
                                <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>Monji Jlidi</h4>
                                <span>Chief Information Officer</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                        <div class="member aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                            <div class="member-img">
                                <img src="assets/Team-Xenophon-IT/imen.png" class="img-fluid" alt="">
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>Imen Ferchichi</h4>
                                <span>Chief Executive Officer</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                        <div class="member aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                            <div class="member-img">
                                <img src="assets/Team-Xenophon-IT/MedDali_Profile.jpg" class="img-fluid" alt="">
                                <div class="social">
                                    <a href="https://mobile.twitter.com/MedDali_JAZIRI"><i class="bi bi-twitter"></i></a>
                                    <a href="https://www.facebook.com/deli.jaziri/"><i class="bi bi-facebook"></i></a>
                                    <a href="https://www.instagram.com/meddalijaziri/"><i class="bi bi-instagram"></i></a>
                                    <a href="https://www.linkedin.com/in/mohamed-ali-jaziri-9ab7a1139/"><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>Mohamed Ali Jaziri</h4>
                                <span>Chief Technology Office              </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                        <div class="member aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">
                            <div class="member-img">
                                <img src="assets/Team-Xenophon-IT/HatemSendid_Profile.jpg" class="img-fluid" alt="">
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>Hatem Sandid</h4>
                                <span>Chief Marketing Officer</span>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>End Team Section -->


        <!-- ======= Pricing Section ======= -->
        <section id="pricing" class="pricing">
            <div class="container">

                <div class="section-title">
                    <h2>Abonnement</h2>
                    <p>Veuillez choisir votre abonnement</p>
                </div>

                <div class="row">

                    <div class="col-lg-4 col-md-6">
                        <div class="box aos-init aos-animate" data-aos="zoom-in-right" data-aos-delay="200">
                            <h3>Essai Gratuit</h3>
                            <h4><sup>DT</sup>0<span> / mois</span></h4>
                            <ul >
                                <li>Personnalisation du compte</li>
                                <li>1 Entreprise</li>
                                <li>1 Administrateur</li>
                                <li >Assistance du Maitre Ouvrage</li>
                                <li>Passage des contrats</li>
                            </ul>
                            <div class="btn-wrap">
                                <a href="#" class="btn-buy">Valable pendant 3 jours</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
                        <div class="box recommended aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
                            <h3>Premium</h3>
                            <h4><sup>DT</sup>30<span> / mois</span></h4>
                            <ul>
                                <li>Personnalisation du compte</li>
                                <li>1 Entreprise</li>
                                <li>1 Administrateur</li>
                                <li>Assistance du Maitre Ouvrage</li>
                                <li >Passage des contrats</li>
                                <li >Gestion Ressources</li>
                                <li >Gestion des offres </li>
                            </ul>
                            <div class="btn-wrap">
                                <a href="#" class="btn-buy">Achetez maintenant</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
                        <div class="box aos-init aos-animate" data-aos="zoom-in-left" data-aos-delay="200">
                            <h3>Extra</h3>
                            <h4><sup>DT</sup>300<span> / an</span></h4>
                            <ul>
                                <li>Personnalisation du compte</li>
                                <li>1 à + Entreprises</li>
                                <li>1 à + Administrateurs</li>
                                <li>Gestion des offres de prix</li>
                                <li>Gestion des clients</li>
                            </ul>
                            <div class="btn-wrap">
                                <a href="#" class="btn-buy">Achetez maintenant</a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Pricing Section -->


        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container">
                <div class="section-title aos-init aos-animate" data-aos="fade-up">
                    <h2>Nous Contacter</h2>
                </div>

                <div class="row">

                    <div class="col-lg-4 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                        <div class="contact-about">
                            <h3>Budgetizi</h3>
                            <p> Détails sur la Société </p>
                            <div class="social-links">
                                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mt-4 mt-md-0 aos-init aos-animate" data-aos="fade-up"
                        data-aos-delay="200">
                        <div class="info">
                            <div>
                                <i class="ri-map-pin-line"></i>
                                <p>Novation City<br>Technopôle de Sousse, 4002</p>
                            </div>

                            <div>
                                <i class="ri-mail-send-line"></i>
                                <p>contact@Xenophon-IT.com</p>
                            </div>

                            <div>
                                <i class="ri-phone-line"></i>
                                <p>+216 20 855 417</p>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-5 col-md-12 aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                                    required="">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" id="email"
                                    placeholder="Your Email" required="">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="subject" id="subject"
                                    placeholder="Subject" required="">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="message" rows="5" placeholder="Message"
                                    required=""></textarea>
                            </div>
                            <div class="my-3">
                                <div class="loading">Chargement</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Message envoyé.Merci!</div>
                            </div>
                            <div class="text-center"><button type="submit">Envoyer Message</button></div>
                        </form>
                    </div>

                </div>
            </div>
        </section><!-- End Contact Section -->

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-lg-6 text-lg-left text-center">
                    <div class="copyright" >
                        © Copyright <strong>Budgetizi</strong>. Tous droits réservés
                    </div>
                    <div class="credits">
                        <!-- All the links in the footer should remain intact. -->
                        <!-- You can delete the links only if you purchased the pro version. -->
                        <!-- Licensing information: https://bootstrapmade.com/license/ -->
                        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/MiCalo-free-bootstrap-template/ -->
                        Designed by <a href="">Xenophon-IT</a>
                    </div>
                </div>
                <!-- <div class="col-lg-6">
                    <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
                        <a href="HomePage/#intro" class="scrollto">Accueil</a>
                        <a href="HomePage/#about" class="scrollto">A Propos</a>
                        <a href="#">politique de confidentialité</a>
                        <a href="#">Conditions d'utilisation</a>
                    </nav>
                </div> -->
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>
    <script src="assets/vendor/purecounter/purecounter.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>



</body>