<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <form class="form-sample">
                <div class="row">
                    <h4 class="card-title text-center">Assistance du Maitre d'ouvrage/Passage des contrats</h4>

                    <div class="col-md-6">
                        <div class="form-group row">
                            <label>Id-Offre</label>
                            <div class="col-sm-9">
                                <input #box (keyup.enter)="onEnter(box.value)" type="text" class="form-control"
                                    class="typeahead" placeholder="Saisir l'id-Offre..." />
                            </div>

                        </div>
                        <!-- <ng-container *ngIf="visible1">
                            <div class="col-lg-12 grid-margin stretch-card">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Quantité Heures travaillés
                                                </th>
                                                <th>
                                                    Proposition
                                                </th>
                                                <th>
                                                    Prix de Revient 
                                                </th>
                                                <th>
                                                    Glob. Coûts
                                                </th>
                                                <th>
                                                    Marge Brut
                                                </th>
                                                <th>
                                                    Glob. Marge Nette 
                                                </th>
                                                <th>
                                                    Glob. Marge Nette en %
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of informationGlobOff">
                                                <td class="py-1">
                                                    {{item['totaleQtyWork']}} days
                                                </td>
                                                <td>
                                                    {{item['totaleProposition']}}
                                                </td>
                                                <td>
                                                    {{item['totaleRevient']}}
                                                </td>
                                                <td>
                                                    {{item['CostsGlobale']}}
                                                </td>
                                                <td>
                                                    {{item['totaleMargeBrute']}}
                                                </td>
                                                <td>
                                                    {{item['totaleMargeNet']}}
                                                </td>
                                                <td>
                                                    {{item['totaleMargeNetPC']}} %
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </ng-container> -->
                        <!--We will add button browser for the image of worker in this div-->
                        <ng-container *ngIf="visible1">
                            <table class="table table-striped">
                                <thead>
                                    <tr class="centertext">
                                        <th rowspan="2"></th>
                                        <!-- <th rowspan="2">Désignation</th> -->
                                        <!-- <th rowspan="2">Worker Profile</th> -->
                                        <th rowspan="2">Nom & Prénom</th>
                                        <th rowspan="2">Unité</th>
                                        <th colspan="4">CoûtRessource</th>
                                        <th rowspan="2">FG%</th>
                                        <th rowspan="2">Coûts DT</th>
                                        <th colspan="3">Marge</th>
                                    </tr>
                                    <tr class="centertext">
                                        <th>Q.Société</th>
                                        <th>Q. Site</th>
                                        <th>T. Proposition</th>
                                        <th>T. Revient</th>
                                        <th>Marge Brute</th>
                                        <th>Marge Nette</th>
                                        <th>Marge %</th>
                                    </tr>

                                </thead>

                                <tbody>
                                    <tr *ngFor="let item of getAllInformation">
                                        <!-- <td>Step1</td> -->
                                        <td class="py-1">
                                            <img src="{{item['profileWork']}}" alt="image" />
                                        </td>
                                        <td>{{item['fullName']}}</td>
                                        <td>Hour</td>
                                        <td>{{item['hoursWorkCompany']}}</td>
                                        <td>{{item['hoursWorkOutCompany']}}</td>
                                        <td>{{item['tPropositionByWorker']}}</td>
                                        <td>{{item['tRevientByWorker']}}</td>
                                        <td>{{item['FG']}} %</td>
                                        <td>{{item['CostsByWorker']}}</td>
                                        <td>{{item['tMargeBrute']}}</td>
                                        <td>{{item['tMargeNet']}}</td>
                                        <td>{{item['tMargeNetPC']}} %</td>
                                    </tr>
                                    <tr *ngFor="let item of getAllInformationForStep1">
                                        <th>S/Totale1</th>
                                        <!-- <td></td> -->
                                        <td></td>
                                        <th>T. Hour</th>
                                        <th>{{item['totaleQtyWork']}}</th>
                                        <td></td>
                                        <th>{{item['totaleProposition']}}</th>
                                        <th>{{item['totaleRevient']}}</th>
                                        <td></td>
                                        <th>{{item['CostsGlobale']}}</th>
                                        <th>{{item['totaleMargeBrute']}}</th>
                                        <th>{{item['totaleMargeNet']}}</th>
                                        <th>{{item['totaleMargeNetPC']}} %</th>
                                    </tr>
                                </tbody>
                            </table>
                        </ng-container>
                    </div>
                    <br><br>

                </div>
            </form>
        </div>
    </div>
    <br>
    <!-- <ng-container *ngIf="visible2">
        <div class="text-right">
            <button type="button" class="btn btn-inverse-success btn-fw mdi mdi-checkbox-marked-circle-outline"> Validate the offre</button>
        </div>
    </ng-container> -->

</div>


<!-- Modal -->
<div class="modal" id="myModal">
    <br><br>
    <br><br>
    <br><br>
    <div class="child">
        <div class="col-6 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-center">Nom de l'Organisme</h4>
                    <hr>
                    <form class="form-sample">
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group row">
                                    <label>Id-Offre</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" class="typeahead"
                                            placeholder="Saisir ID-Offre..." />
                                    </div>
                                </div>
                                <!--We will add button browser for the image of worker in this div-->
                            </div>

                            <div class="form-group row">
                                <div class="col">
                                    <label>Nom de la ressource</label>
                                    <div id="the-basics">
                                        <input class="typeahead" type="text" placeholder="Nom de la ressource...">
                                    </div>
                                </div>
                                <div class="col">
                                    <label>Departement </label>
                                    <div id="bloodhound">
                                        <select class="form-control">
                                            <option selected="selected" disabled>Profession</option>
                                            <option>.......</option>
                                            <option>.......</option>
                                            <option>.......</option>
                                            <option>.......</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col">
                                    <label>Nb° H effectuées au siège</label>
                                    <div id="the-basics">
                                        <input class="typeahead" type="number" placeholder="N°Heure au siège...">
                                    </div>
                                </div>

                                <div class="col">
                                    <label>Nb° H effectuées sur Site</label>
                                    <div id="the-basics">
                                        <input class="typeahead" type="number" placeholder="N°Heure sur site...">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col">
                                    <label>Profit Coefficient</label>
                                    <div id="the-basics">
                                        <input class="typeahead" type="number" placeholder="2.5...">
                                    </div>
                                </div>
                                <div class="col">
                                    <label>Télécharger fichier</label>
                                    <input type="file" name="img[]" class="file-upload-default">
                                    <div class="input-group col-xs-12">
                                        <input type="text" class="form-control file-upload-info" disabled
                                            placeholder="imageProfileForUser">

                                    </div>

                                </div>
                            </div>

                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>