<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <form class="form-sample">
                <div class="row">
                    <h4 class="card-title text-center">Services</h4>

                    <div class="col-md-6">
                        <div class="form-group row">
                            <label>Id-Offre</label>
                            <div class="col-sm-9">
                                <input #box (keyup.enter)="onEnter(box.value)" type="text" class="form-control"
                                    class="typeahead" placeholder="Enter your id Offre..." />
                            </div>

                        </div>
                        <ng-container *ngIf="visible1">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            Référence Produit
                                        </th>
                                        <th>
                                            Nom Produit
                                        </th>
                                        <th>
                                            Prix Unitaire
                                        </th>
                                        <th>
                                            Total
                                        </th>
                                        <th>
                                            Marge %
                                        </th>
                                        <th>
                                            Remise %
                                        </th>
                                        <th>
                                            T. après Marge
                                        </th>
                                        <th>
                                            T. après Remise
                                        </th>
                                        <th>
                                            Totale HT
                                        </th>
                                    </tr>

                                </thead>

                                <tbody>
                                    <tr *ngFor="let item of getAllProducts">
                                        <td>
                                            {{item['referenceProduit']}} </td>
                                        <td>
                                            {{item['nomProduit']}}
                                        </td>
                                        <td>
                                            {{item['prixUnitaire']}}
                                        </td>
                                        <td>
                                            {{item['quantity']}}
                                        </td>
                                        <td>
                                            {{item['marge']}}
                                        </td>
                                        <td>
                                            {{item['remise']}}
                                        </td>
                                        <td>
                                            {{item['totaleApresMarge']}}
                                        </td>
                                        <td>
                                            {{item['totaleApresRemise']}}
                                        </td>
                                        <td>
                                            {{item['totaleHT']}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>S/Totale4</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th>{{sommeOFProducts}} DT</th>
                                    </tr>
                                    <!-- <tr *ngFor="let item of sommeOFProducts">
                                        <th>S/Totale4</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th>{{item[2]}}</th>
                                    </tr> -->
                                </tbody>
                            </table>
                        </ng-container>
                        <!--We will add button browser for the image of worker in this div-->
                    </div>
                    <br><br>

                </div>
            </form>
        </div>
    </div>
    <br>

</div>