<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title text-center">ETUDE DE L'OFFRE </h4>
            <div class="form-group row">
                <label>Id-Offre</label>
                <div class="col-sm-9">
                    <input #box (keyup.enter)="onEnter(box.value)" type="text" class="form-control" class="typeahead"
                        placeholder="Enter your id Offre..." />
                </div>
            </div>
        </div>
        <!-- <div class="col-md-4 text-right">
            <button class="btn btn-success btn-block" (click)="ClickPDF()">Download PDF</button>
        </div> -->
    </div>
    <!-- <button type="button" (click)="print()" class="btn btn-outline-info btn-icon-text">
        Print
        <i class="fas fa-print"></i>
    </button> -->
</div>
<ng-container *ngIf="visible1">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div id="htmlData">
                    <div>
                        <br><br><br><br>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <img src="{{logoCompany}}" width="125" alt="logo" />
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <b>ETUDE DE L'OFFRE</b>
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;
                        <b>
                            Client: {{negociataion}}
                        </b>
                        <br>
                        <b>
                            {{nameCompany}}
                        </b><br>
                        <b>{{AdressLocale}} - {{codePostale}} - {{ville}}</b><br>
                        <b>Phone Number: {{phoneNumber}} - Fix Number: {{fixNumber}}</b><br>
                        <b>Email: {{Email}}</b><br><br><br><br><br><br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        {{ville}}, {{dateToday}}
                    </div>
                    
                    <div>
                        <br><br>
                        &nbsp;&nbsp;&nbsp;&nbsp; <p>Madame/ Monsieur, </p><br>
                        <p>
                            En se basant sur les données techniques fournies par vos soins, nous avons le plaisir de vous communiuqer
                        ci-joint notre meilleur offre technique et financière pour la réalisation du projet en question.
                        </p><br>
                        
                        &nbsp;&nbsp;&nbsp;&nbsp; <p>
                            Dans l'attente de votre réponse, veuillez agréer Madame/ Monsieur nos salutation les plus distinguées.
                        </p>

                        <table class="table table-bordered">
                            <thead>
                                <tr class="centertext">
                                    <th rowspan="2">RUBRIQUES</th>
                                    <th>Totale DT</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <th>Assistance du MO passage des contrats</th>
                                    <td class="text-center">{{totalePropositionS1}}</td>
                                </tr>
                                <tr>
                                    <th>Approbation des dossiers d'exécution</th>
                                    <td class="text-center">{{totalePropositionS2}}</td>
                                </tr>
                                <tr>
                                    <th>Suivi des travaux</th>
                                    <td class="text-center">{{totalePropositionS3}}</td>
                                </tr>
                                <tr>
                                    <th>Fourniture des équipements du projets TTC</th>
                                    <td class="text-center">{{totalePropositionS4}}</td>
                                </tr>

                            </tbody>
                        </table>
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th rowspan="2">TVA</th>
                                    <td class="text-center">19%</td>
                                </tr>

                            </tbody>
                        </table>
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th rowspan="2">TOTAL TTC</th>
                                    <td class="text-center">{{totalePropositionS1 + totalePropositionS2 +
                                        totalePropositionS3 +
                                        (totalePropositionS4*1.19)}}</td>
                                </tr>

                            </tbody>
                        </table>

                        <br>
                        <br>    
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <b><u>N.B</u></b><br>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;Cette offre est considérrée contractuelle et pose.</p>
                        &nbsp;&nbsp;&nbsp;&nbsp;<p>1. <b>Validité de l'offre:</b> <i>30 Jours</i> à partie de la date de réception de la
                            présente
                        </p>
                        &nbsp;&nbsp;&nbsp;&nbsp;<p>2. <b>Conditions financière:</b> <br></p>
                        <ul>
                            <li>Paiment d'un acompte de <b>60% du montant global TTC</b> à la commande</li>
                            <li>Paiment de <b>30% du montant global TTC</b> à la livraison des équipements</li>
                            <li>Paiment <b>10% du montant global TTC</b> à la mise en service et réception du projet
                            </li>
                        </ul>
                        <p>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <b><u>Garanties:</u></b> La société <b>{{nameCompany}}</b> garantie la totalité des produits et du
                            service fournis pendant
                            une année à partir de la date de réception.<br>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            Nous restons à votre entière disposition pour tout complément d'informations.
                            &nbsp;&nbsp;&nbsp;&nbsp;
                        </p><br><br><p>Bonne réception</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="text-right">
            <button type="button" (click)="ClickPDF()" class="btn btn-outline-info btn-icon-text">
                Print
                <i class="fas fa-print"></i>
            </button>

        </div>
</ng-container>